<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackgroundServicesGoogleApplication"
        tools:targetApi="31">
        <!--we must declrae which type of services we are using ,and service used for what-->

        <service
            android:name=".LocationServices"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false" />

<!--        <receiver android:name=".MapsActivity$MyBroadCastReceiver" android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="APP_SPECIFIC_BROADCAST" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKduijD07b_KXcN9MuegadU8rCIfM8nkw" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>